<div class="container">
  <div class="wrapper col-md-6 col-md-offset-3 col-sm-10">
    <h2>ユーザ情報</h2>
    <%= alert %>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "メールアドレス" %>
      </div>

      <div class="field">
        <%= f.text_field :name, class: "form-control", placeholder: "名前" %>
      </div>

      <% if @user.provider.blank? %>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="field">
          <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "パスワード" %>
          <i>(変更しない場合は空白にしてください)</i>
          <% if @minimum_password_length %>
            <em><%= @minimum_password_length %>文字以上</em><br>
          <% end %>
        </div>

        <div class="field">
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "パスワード（確認）" %>
        </div>

        <div class="field">
          <%= f.password_field :current_password, autocomplete: "off", class: "form-control", placeholder: "現在のパスワード" %>
        </div>

      <% end %>

      <div class="actions">
        <%= f.submit "変更する", class: "btn btn-primary btn-block"  %>
      </div>
    <% end %>

    <hr>
    <h3>アカウント削除</h3>

    <p>アカウントを削除するには下のボタンを押してください <%= button_to "アカウント削除", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
  </div>
</div>
